body{
    background-color:lightblue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color:purple;
    text-decoration:underline;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    color:darkred;
    font-family:'Courier New', Courier, monospace;
}