body{
    background-color:navy;
}
h1{
    color:lightseagreen;
    text-align:center;
    font-size:72px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}
li{
    color:lightgreen;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}